<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://zgx30761:sOn8igbAf01EOSM2@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB?security=SSL

'Connected: zgx30761@BLUDB'

In [3]:
!pip install -q pandas==1.1.5

In [4]:
%sql select tabschema, tabname, create_time from SYSCAT.TABLES where tabschema = 'ZGX30761'

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('ZGX30761', 'COUNTRY', datetime.datetime(2023, 4, 24, 15, 0, 51, 139678)),
 ('ZGX30761', 'PETSALE', datetime.datetime(2023, 4, 24, 16, 52, 7, 745712)),
 ('ZGX30761', 'EMPLOYEES', datetime.datetime(2023, 4, 24, 17, 55, 56, 803464)),
 ('ZGX30761', 'JOB_HISTORY', datetime.datetime(2023, 4, 24, 17, 55, 56, 896871)),
 ('ZGX30761', 'JOBS', datetime.datetime(2023, 4, 24, 17, 55, 56, 987253)),
 ('ZGX30761', 'DEPARTMENTS', datetime.datetime(2023, 4, 24, 17, 55, 57, 78383)),
 ('ZGX30761', 'LOCATIONS', datetime.datetime(2023, 4, 24, 17, 55, 57, 167289)),
 ('ZGX30761', 'PETRESCUE', datetime.datetime(2023, 4, 26, 11, 50, 33, 409307)),
 ('ZGX30761', 'INSTRUCTOR', datetime.datetime(2023, 4, 28, 13, 19, 13, 295837)),
 ('ZGX30761', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2023, 5, 1, 13, 41, 53, 801215)),
 ('ZGX30761', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2023, 5, 2, 13, 47, 40, 305743)),
 ('ZGX30761', 'SCHOOLS', datetime.datetime(2023, 5, 3, 11, 26, 6, 357831)),
 ('ZGX30761', 'CENSUS_DATA', datetime.datetime(2023, 5, 10, 16, 18, 33, 291476)),
 ('ZGX30761', 'CRIME_DATA', datetime.datetime(2023, 5, 10, 16, 39, 9, 716757)),
 ('ZGX30761', 'SCHOOLS_DATA', datetime.datetime(2023, 5, 10, 16, 41, 12, 155864))]

In [69]:
%sql select tabname, colname from SYSCAT.COLUMNS where tabname = 'SCHOOLS_DATA'

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('SCHOOLS_DATA', '10th Grade PLAN (2009)'),
 ('SCHOOLS_DATA', '10th Grade PLAN (2010)'),
 ('SCHOOLS_DATA', '11th Grade Average ACT (2011)'),
 ('SCHOOLS_DATA', '9th Grade EXPLORE (2009)'),
 ('SCHOOLS_DATA', '9th Grade EXPLORE (2010)'),
 ('SCHOOLS_DATA', 'ADEQUATE_YEARLY_PROGRESS_MADE_'),
 ('SCHOOLS_DATA', 'AVERAGE_STUDENT_ATTENDANCE'),
 ('SCHOOLS_DATA', 'AVERAGE_TEACHER_ATTENDANCE'),
 ('SCHOOLS_DATA', 'CITY'),
 ('SCHOOLS_DATA', 'COLLABORATIVE_NAME'),
 ('SCHOOLS_DATA', 'COLLEGE_ELIGIBILITY__'),
 ('SCHOOLS_DATA', 'COLLEGE_ENROLLMENT'),
 ('SCHOOLS_DATA', 'COLLEGE_ENROLLMENT_RATE__'),
 ('SCHOOLS_DATA', 'COMMUNITY_AREA_NAME'),
 ('SCHOOLS_DATA', 'COMMUNITY_AREA_NUMBER'),
 ('SCHOOLS_DATA', 'CPS_PERFORMANCE_POLICY_LEVEL'),
 ('SCHOOLS_DATA', 'CPS_PERFORMANCE_POLICY_STATUS'),
 ('SCHOOLS_DATA', 'ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL'),
 ('SCHOOLS_DATA', 'ENVIRONMENT_ICON'),
 ('SCHOOLS_DATA', 'ENVIRONMENT_SCORE'),
 ('SCHOOLS_DATA', 'FAMILY_INVOLVEMENT_ICON'),
 ('SCHOOLS_DATA', 'FAMILY_INVOLVEMENT_SCORE'),
 ('SCHOOLS_DATA', 'FRESHMAN_ON_TRACK_RATE__'),
 ('SCHOOLS_DATA', 'GENERAL_SERVICES_ROUTE'),
 ('SCHOOLS_DATA', 'GR3_5_GRADE_LEVEL_MATH__'),
 ('SCHOOLS_DATA', 'GR3_5_GRADE_LEVEL_READ__'),
 ('SCHOOLS_DATA', 'GR3_5_KEEP_PACE_MATH__'),
 ('SCHOOLS_DATA', 'GR3_5_KEEP_PACE_READ__'),
 ('SCHOOLS_DATA', 'GR6_8_GRADE_LEVEL_MATH__'),
 ('SCHOOLS_DATA', 'GR6_8_GRADE_LEVEL_READ__'),
 ('SCHOOLS_DATA', 'GR6_8_KEEP_PACE_MATH_'),
 ('SCHOOLS_DATA', 'GR6_8_KEEP_PACE_READ__'),
 ('SCHOOLS_DATA', 'GRADUATION_RATE__'),
 ('SCHOOLS_DATA', 'GR_8_EXPLORE_MATH__'),
 ('SCHOOLS_DATA', 'GR_8_EXPLORE_READ__'),
 ('SCHOOLS_DATA', 'HEALTHY_SCHOOL_CERTIFIED'),
 ('SCHOOLS_DATA', 'INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE'),
 ('SCHOOLS_DATA', 'INSTRUCTION_ICON'),
 ('SCHOOLS_DATA', 'INSTRUCTION_SCORE'),
 ('SCHOOLS_DATA', 'ISAT_EXCEEDING_MATH__'),
 ('SCHOOLS_DATA', 'ISAT_EXCEEDING_READING__'),
 ('SCHOOLS_DATA', 'ISAT_VALUE_ADD_COLOR_MATH'),
 ('SCHOOLS_DATA', 'ISAT_VALUE_ADD_COLOR_READ'),
 ('SCHOOLS_DATA', 'ISAT_VALUE_ADD_MATH'),
 ('SCHOOLS_DATA', 'ISAT_VALUE_ADD_READ'),
 ('SCHOOLS_DATA', 'LATITUDE'),
 ('SCHOOLS_DATA', 'LEADERS_ICON'),
 ('SCHOOLS_DATA', 'LEADERS_SCORE'),
 ('SCHOOLS_DATA', 'LINK'),
 ('SCHOOLS_DATA', 'LOCATION'),
 ('SCHOOLS_DATA', 'LONGITUDE'),
 ('SCHOOLS_DATA', 'NAME_OF_SCHOOL'),
 ('SCHOOLS_DATA', 'NETWORK_MANAGER'),
 ('SCHOOLS_DATA', 'NET_CHANGE_EXPLORE_AND_PLAN'),
 ('SCHOOLS_DATA', 'NET_CHANGE_PLAN_AND_ACT'),
 ('SCHOOLS_DATA', 'PARENT_ENGAGEMENT_ICON'),
 ('SCHOOLS_DATA', 'PARENT_ENGAGEMENT_SCORE'),
 ('SCHOOLS_DATA', 'PARENT_ENVIRONMENT_ICON'),
 ('SCHOOLS_DATA', 'PARENT_ENVIRONMENT_SCORE'),
 ('SCHOOLS_DATA', 'PHONE_NUMBER'),
 ('SCHOOLS_DATA', 'PK_2_LITERACY__'),
 ('SCHOOLS_DATA', 'PK_2_MATH__'),
 ('SCHOOLS_DATA', 'POLICE_DISTRICT'),
 ('SCHOOLS_DATA', 'RATE_OF_MISCONDUCTS__PER_100_STUDENTS_'),
 ('SCHOOLS_DATA', 'SAFETY_ICON'),
 ('SCHOOLS_DATA', 'SAFETY_SCORE'),
 ('SCHOOLS_DATA', 'SCHOOL_ID'),
 ('SCHOOLS_DATA', 'STATE'),
 ('SCHOOLS_DATA', 'STREET_ADDRESS'),
 ('SCHOOLS_DATA', 'STUDENTS_PASSING__ALGEBRA__'),
 ('SCHOOLS_DATA', 'STUDENTS_TAKING__ALGEBRA__'),
 ('SCHOOLS_DATA', 'TEACHERS_ICON'),
 ('SCHOOLS_DATA', 'TEACHERS_SCORE'),
 ('SCHOOLS_DATA', 'TRACK_SCHEDULE'),
 ('SCHOOLS_DATA', 'WARD'),
 ('SCHOOLS_DATA', 'X_COORDINATE'),
 ('SCHOOLS_DATA', 'Y_COORDINATE'),
 ('SCHOOLS_DATA', 'ZIP_CODE')]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [6]:
%sql select count(case_number) from CRIME_DATA

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [7]:
%sql select community_area_name, per_capita_income from CENSUS_DATA where per_capita_income < 11000

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
%sql select case_number, IUCR from CRIME_DATA where IUCR in ('1521','1531','1715','1840','2070','2210','2220','2230','2240','2251')

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('HL266884', '2210'), ('HK238408', '2230')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [9]:
%sql select case_number, description, IUCR from CRIME_DATA where IUCR in ('1790','1792')

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER', '1792')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [13]:
%sql select primary_type, description, location_description from CRIME_DATA where location_description like '%SCHOOL%'

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [14]:
%%sql
select elementary__middle__or_high_school, avg(safety_score) as avg_safety from SCHOOLS_DATA
group by elementary__middle__or_high_school

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [15]:
%%sql
select community_area_name, percent_households_below_poverty from CENSUS_DATA
order by percent_households_below_poverty DESC LIMIT 5

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [53]:
%%sql
select community_area_number, count(case_number) as count_cases from CRIME_DATA
group by community_area_number
order by count_cases DESC NULLS LAST LIMIT 1

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [55]:
%sql select community_area_name, hardship_index from CENSUS_DATA where hardship_index = (select max(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [91]:
%%sql
select community_area_name, community_area_number from CENSUS_DATA where community_area_number = (
    select community_area_number from CRIME_DATA
    group by community_area_number
    order by count(case_number) DESC NULLS LAST LIMIT 1
    )

 * ibm_db_sa://zgx30761:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Austin', 25)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>